fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
numpy
torch
streamlit
elevenlabs
requests
langchain-google-genai
google-generativeai
SpeechRecognition
pyaudio
geopy
pandas
streamlit-js-eval
python-dotenv
Pillow
gTTS
qrcode[pil]
